button {
  margin: 10px 10px 0 0;
  padding: 7px 15px 5px;
  border:none;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: #555;
  &:hover {
    cursor: pointer;
  }
}
button.AddBtn {
  background-color: cornflowerblue;
}
button.RemoveBtn {
  background-color: indianred;
}