.App {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

ul.Nav {
  list-style: none;
  padding-inline-start: 0;
}
ul.Nav li {
  display: inline-block;
  margin-right: 10px;
}